<div class="hidden md:flex h-screen flex-col justify-between rounded-r-3xl shadow-lg bg-card">
    <div class="px-4 py-6">
      
      <span class="text-xl font-bold pr-5 py-5">BorneRechargeCRM</span>
  
      <ul class="mt-6 space-y-1">
        <li>
          <a
            href=""
            class="block rounded-lg bg-background px-4 py-2 text-sm font-medium text-text"
          >

                Facturation & Texte pour montrer longueur
            </a>
        </li>
  
        <li>
          <details class="group [&_summary::-webkit-details-marker]:hidden">
            <summary
              class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-text hover:bg-background"
            >
              <span class="text-sm font-medium flex gap-2 items-center"><i class="fa-solid fa-cart-shopping"></i> Authentification </span>
  
              <span
                class="shrink-0 transition duration-300 group-open:-rotate-180"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </span>
            </summary>
  
            <ul class="mt-2 space-y-1 px-4">
              <li>
                <a
                  href="/login"
                  class="block rounded-lg px-4 py-2 text-sm font-medium text-text hover:bg-background"
                >
                  Connexion
                </a>
              </li>
  
              <li>
                <a href="/register" class="block rounded-lg px-4 py-2 text-sm font-medium text-text hover:bg-background">
                  Inscription 
                </a> 
              </li>
            </ul>
          </details>
        </li>
  
       
    </div>
  
    <div class="sticky inset-x-0 bottom-0 border-t border-accent hover:bg-background">
      <a href="#" class="flex items-center gap-2 bg-card p-4 rounded-r-3xl hover:bg-background ">
        <img
          alt="Man"
          src="https://www.leparisien.fr/resizer/Kw-7xTRtPbKs2dnCukTSgj6rDZw=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/4GS5I5NPWAZMT2ZKHNOCVSF4JI.jpg"
          class="h-10 w-10 rounded-full object-cover"
        />
  
        <div>
          <p class="text-xs">
            <strong class="block font-medium">Spiderman</strong>
            <span class="text-accent"> lafrite93@gmail.com </span>
          </p>
        </div>
      </a>
    </div>
  </div>
  