<div>


        <div class="flex justify-end">
            <twig:Button
                    text="Supprimer"
                    color="error"
                    textColor="text-base"
                    data-action="click->live#action"
                    data-action-name="delete"
            />



        </div>



</div>
