{% extends 'layouts/dashboard.html.twig' %}

  {% if billing.type == 'quote'  %}
      {% set title  = 'Éditer le devis' %}
  {% else %}
      {% set title  = 'Éditer le devis' %}
  {% endif %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


    <twig:Card>
        <h1 class="font-semibold text-2xl">{{ title }}</h1>

        {{ component('Billing:BillingForm',{
            'form': form,
            'billing': billing
        }) }}



    </twig:Card>
    <a href="{{ path('commercial_company_app_billing_index') }}"><i class="fa fa-arrow-left"></i> Retour</a>

{% endblock %}
