{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Billing index{% endblock %}

{% block body %}
    <div class="flex justify-center p-5">
            <twig:Tab:TabGroup>
                {% for type,text in typeList %}

                <twig:Tab:Tab
                    text="{{ text}}"
                    href="{{ path('commercial_company_app_billing_index',{
                        'type': type
                    }) }}"
                    active="{{ type == typeSelected }}"
                />
                {% endfor %}

            </twig:Tab:TabGroup>
    </div>
    <twig:Billing:BillingCard
        title="Billing card"
        description="Billing card description"
        :routeAction="{
            'new': {
              'link': path('commercial_company_app_billing_new'),
              'text': 'Créer une Facturation'
            }
        }"
    >


        {{ component('Billing:BillingTable') }}

 

    </twig:Billing:BillingCard>

{% endblock %}
