{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Créer une facture{% endblock %}

{% block body %}

    <twig:Card>
        <h1 class="font-semibold text-2xl">Créer une facture</h1>

        {{ include('billing/_form.html.twig') }}


    </twig:Card>
    <a href="{{ path('commercial_company_app_billing_index') }}"><i class="fa fa-arrow-left"></i> Retour</a>
{% endblock %}
