<li class="text-md flex">
          <details class="group [&_summary::-webkit-details-marker]:hidden w-full">
            <summary
              class="flex cursor-pointer items-center justify-between rounded-lg w-full  text-dark"
            >
              
              <span class="rounded-full flex items-center gap-5 p-2 relative hover:bg-primary transition-all w-full"><i class="flex justify-self-end {{ icon }}"></i> {{ title }}<i class="shrink-0 absolute right-2 transition duration-300 group-open:-rotate-180 fa fa-chevron-down justify-self-end"></i></span>

              
              </span>
            </summary>
  
            <ul class="mt-2 space-y-1 px-4">
                {{ sidebar.generateMenuItems(subMenu,true) }}
            </ul>
          </details>
        </li>