{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Accountant{% endblock %}

{% block body %}
    <twig:Card>
        <h1 class="text-3xl font-semibold mb-4">Accountant</h1>
        <p>
            Welcome to the accountant dashboard. Here you can manage all the financial aspects of the company.
        </p>
        {{ render_chart(chart) }}

    </twig:Card>
{% endblock %}