{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Créer un fournisseur{% endblock %}

{% block body %}
    {#    {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}#}
    <twig:Card>
        <div class="mb-4">
            <a  href="{{ path('super_admin_app_supplier_index') }}" class="px-4 py-2 bg-darkgrey rounded-lg">
                <i class="fas fa-arrow-left"></i> Back to list</a>
            <h1 class="block font-bold text-3xl mt-4">Créer le fournisseur</h1>
        </div>
        {{ form(form) }}
    </twig:Card>
{% endblock %}
