{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <div class="flex flex-col p-6 bg-neutral">

        <h1 class="text-2xl font-bold mt-6">Découvrez de nouveaux produits</h1>
        <span>{{ productCount }} produits au total</span>

    </div>

    {{ component('Product:ProductList') }}

{% endblock %}
