{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <twig:Card>
        <div class="mb-4">
            <a  href="{{ path('commercial_company_app_product_index') }}" class="px-4 py-2 bg-darkgrey rounded-lg">
                <i class="fas fa-arrow-left"></i> Back to list</a>
            <h1 class="block font-bold text-3xl mt-4">Ajouter un produit</h1>
            <p class="text-dark text-xs mt-4">
                Ajouter un produit en renseignant le maximum d'infos en sur lui. Il faut ajouter mes informations qui lui sont associées.
            </p>
        </div>
        {{ form(form) }}
    </twig:Card>
{% endblock %}
