<div data-skip-morph class="flex flex-col justify-start items-start gap-y-6 mt-6 mb-6">
    <h2 class="text-xl font-semibold"> Informations clients </h2>
    <div class="w-full">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

</div>