{% if active == false %}
    {% set class = 'bg-neutral text-accent'%}
{% else %}
    {% set class = 'bg-primary text-text' %}
{% endif %}

<div class="rounded-full flex justify-center items-center cursor-pointer text-md transition-all size-{{ size }} {{ class }} hover:brightness-75">
    {{ text }}
</div>