{% extends 'layouts/dashboard.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}

<div class="flex items-center h-screen justify-center">
    <div class="w-3/4 h-5/6 p-10 bg-neutral overflow-auto">
        <h1>Create new Company</h1>
        
        {{ form(form) }}

    <twig:Button href="{{ path('app_company_index') }}"
                 text="Back to list"
                 color="0"
                 borderWidth="0"
                 icon="fa fa-solid fa-arrow-left"
    />

    </div>
</div>
{% endblock %}
