<!--- TAILLES -->
<button
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-primary  bg-primary btn-xs font-medium text-text hover:bg-transparent hover:text-primary focus:outline-none focus:ring active:text-primary"
  href="#"
>
   Btn xs
</button>
<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-primary  bg-primary btn-sm font-medium text-text hover:bg-transparent hover:text-primary focus:outline-none focus:ring active:text-primary"
  href="#"
>
   Btn sm
</a>

<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-primary  bg-primary btn-base font-medium text-text hover:bg-transparent hover:text-primary focus:outline-none focus:ring active:text-primary"
  href="#"
>
   Btn base
</a>
<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-primary  bg-primary btn-lg font-medium text-text hover:bg-transparent hover:text-primary focus:outline-none focus:ring active:text-primary"
  href="#"
>
   Btn LG
</a>
<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-primary  bg-primary btn-xl font-medium text-text hover:bg-transparent hover:text-primary focus:outline-none focus:ring active:text-primary"
  href="#"
>
   Btn XL
</a>

<br/>
<!----  Couleurs -->
<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-primary  bg-primary btn-base font-medium text-text hover:bg-transparent hover:text-primary focus:outline-none focus:ring active:text-primary"
  href="#"
>
   Primary
</a>
<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-secondary  bg-secondary btn-base font-medium text-text hover:bg-transparent hover:text-secondary focus:outline-none focus:ring active:text-secondary"
  href="#"
>
   Secondary
</a>
<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-accent  bg-accent btn-base font-medium text-text hover:bg-transparent hover:text-accent focus:outline-none focus:ring active:text-accent"
  href="#"
>
   Accent
</a>
<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-neutral  bg-neutral btn-base font-medium text-text hover:bg-transparent hover:text-text focus:outline-none focus:ring active:text-text"
  href="#"
>
   Card
</a>
<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-base  bg-base btn-base font-medium text-text hover:bg-transparent hover:text-base focus:outline-none focus:ring active:text-base"
  href="#"
>
   Background
</a>
<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-error  bg-error btn-base font-medium text-text hover:bg-transparent hover:text-error focus:outline-none focus:ring active:text-error"
  href="#"
>
   Error
</a>
<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-success  bg-success btn-base font-medium text-text hover:bg-transparent hover:text-success focus:outline-none focus:ring active:text-success"
  href="#"
>
   Success
</a>

<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-warning  bg-warning btn-base font-medium text-text hover:bg-transparent hover:text-warning focus:outline-none focus:ring active:text-warning"
  href="#"
>
   Warning
</a>

<br/>
<br/>
<a
  class="inline-flex gap-2 items-center rounded-lg border transition-all border-primary  btn-base font-medium text-primary hover:bg-primary hover:text-text focus:outline-none focus:ring active:primary"
href="#"
>
Outline
</a>

<a
  class="inline-flex gap-2 items-center transition-all rounded-lg border border-primary  bg-primary btn-base font-medium text-text hover:bg-transparent hover:text-primary focus:outline-none focus:ring active:text-primary"
  href="#"
>
   <i class='fa-solid fa-heart'></i>Button
</a>