

<div>
<label for="inputNormal" class="block text-accent text-sm font-medium">
Label
</label>
<input
type="text"
id="inputNormal"
placeholder="Label"
 class="mt-1 w-full rounded-md bg-transparent text-accent border-primary focus:border-primary focus:ring-primary shadow-sm sm:text-sm"
name="primary"
/>
</div>

<div class="relative">
<label for="inputIcon" class="block text-accent text-sm font-medium">
Label
</label>
<div class="h-auto relative">
<input
type="text"
id="inputIcon"
placeholder="Label"
 class="mt-1 w-full rounded-md bg-transparent text-accent border-primary focus:ring-primary focus:border-primary shadow-sm sm:text-sm"
name="primary"
/>
  <span
class="absolute flex items-center h-full top-0 px-2 right-0">
<i class="fa-solid fa-user text-primary text-lg"></i>
</span>
</div>
</div>

<div>
<label for="inputFloat" class="relative block overflow-hidden rounded-md border bg-transparent border-primary px-3 pt-3 shadow-sm focus-within:border-primary focus-within:ring-1 focus-within:ring-primary">
<input
type="text"
id="inputFloat"
placeholder="Label"
 class="peer h-8 w-full border-none bg-transparent text-accent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
name="name"
/>
 <span
class="absolute start-3 top-3 -translate-y-1/2 text-xs text-accent transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs">
float
</span>
</label>
</div>

<div>
<label for="inputTextArea">Label</label>
<div
class="overflow-hidden rounded-lg border border-primary shadow-sm focus-within:border-primary focus-within:ring-1 focus-within:ring-primary">
<textarea
id="inputTextArea"
class="w-full resize-none bg-transparent border-none align-top focus:ring-0 sm:text-sm"
rows="4"
name="name"
placeholder="Label"
></textarea>
<div class="flex items-center justify-end gap-2 bg-transparent p-3">
<button
type="button"
class="inline-flex transition-all rounded-lg border border-accent bg-accent px-6 py-2 text-sm font-medium text-text hover:bg-transparent hover:text-accent focus:outline-none focus:ring active:secondary">
Effacer
</button>
PLACE BUTTON HERE
</div>
</div>
</div>

<label for="inputToggle" class="relative h-8 w-14 cursor-pointer [-webkit-tap-highlight-color:_transparent]">
<input type="checkbox" name="name" id="inputToggle" class="peer sr-only" />
<span class="absolute inset-0 rounded-full bg-accent transition peer-checked:bg-primary"></span>
<span class="absolute inset-y-0 start-0 m-1 h-6 w-6 rounded-full bg-white transition-all peer-checked:start-6"></span>
</label>

 <div>
<label for="inputSelect" class="block text-sm font-medium text-accent">
label
</label>
<select name="name" id="inputSelect" class="mt-1.5 w-full rounded-lg bg-neutral focus:ring-primary focus:border-primary border-primary text-accent sm:text-sm">
<option value=
>JAHOHAST</option>
</select>
</div>  



<div>
<div class="flex items-center mb-4">
<input id="inputCheckbox1" type="checkbox" value="" class="w-4 h-4 text-primary bg-accent border-accent rounded focus:ring-primary">
<label for="inputCheckbox1" class="ms-2 text-sm font-medium text-accent">Check1</label>
</div>
<div class="flex items-center mb-4">
  <input id="inputCheckbox2" type="checkbox" value="" class="w-4 h-4 text-primary bg-accent border-accent rounded focus:ring-primary">
  <label for="inputCheckbox2" class="ms-2 text-sm font-medium text-accent">Check1</label>
  </div>
</div>

<div>
<div class="flex items-center mb-4">
<input id="inputRadio1" type="radio" name="radioInput" value="" class="w-4 h-4 text-primary bg-accent border-accent rounded-full focus:ring-primary">
<label for="inputRadio1" class="ms-2 text-sm font-medium text-accent">Check1</label>
</div>
<div class="flex items-center mb-4">
<input id="inputRadio2" name="radioInput" type="radio" value="" class="w-4 h-4 text-primary bg-accent border-accent rounded-full focus:ring-primary">
<label for="inputRadio2" class="ms-2 text-sm font-medium text-accent">Check1</label>
</div>
</div>

<fieldset class="flex flex-wrap gap-3">
<div>
<input type="radio" name="name" value="" id="radioBloc1" class="peer hidden" checked/>
<label for="radioBloc1"
class="flex cursor-pointer items-center justify-center rounded-md border border-primary bg-transparent px-3 py-2 text-primary peer-checked:bg-primary peer-checked:text-text">
<p class="text-sm font-medium">radio label</p>
</label>
</div>

<div>
  <input type="radio" name="name" value="" id="radioBloc2" class="peer hidden" />
  <label for="radioBloc2"
  class="flex cursor-pointer items-center justify-center rounded-md border border-primary bg-transparent px-3 py-2 text-primary peer-checked:bg-primary peer-checked:text-text">
  <p class="text-sm font-medium">radio label</p>
  </label>
  </div>
</fieldset>

