<div class="inline-flex flex-grow flex-1">
<ol class="flex justify-center gap-1 text-text-base font-medium">
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-primary bg-neutral text-primary hover:bg-primary hover:text-neutral rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
</svg>
</a>
</li>
<li>
<a href="#" class="block h-8 w-8 rounded border border-primary bg-neutral text-center transition-all hover:bg-primary hover:text-neutral leading-8 text-primary">
1
</a>
</li>
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-primary hover:bg-primary hover:text-neutral bg-neutral text-primary rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
</svg>
</a>
</li>
</ol>
</div>



<div class="inline-flex flex-grow flex-1">
<ol class="flex justify-center gap-1 text-text-sm font-medium">
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-secondary bg-neutral text-secondary hover:bg-secondary hover:text-neutral rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
</svg>
</a>
</li>
<li>
<a href="#" class="block h-8 w-8 rounded border border-secondary bg-neutral text-center transition-all hover:bg-secondary hover:text-neutral leading-8 text-secondary">
1
</a>
</li>
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-secondary hover:bg-secondary hover:text-neutral bg-neutral text-secondary rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
</svg>
</a>
</li>
</ol>
</div>

<div class="inline-flex flex-grow flex-1">
<ol class="flex justify-center gap-1 text-text-sm font-medium">
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-accent bg-neutral text-accent hover:bg-accent hover:text-neutral rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
</svg>
</a>
</li>
<li>
<a href="#" class="block h-8 w-8 rounded border border-accent bg-neutral text-center transition-all hover:bg-accent hover:text-neutral leading-8 text-accent">
1
</a>
</li>
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-accent hover:bg-accent hover:text-neutral bg-neutral text-accent rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
</svg>
</a>
</li>
</ol>
</div>


<div class="inline-flex flex-grow flex-1">
<ol class="flex justify-center gap-1 text-text-sm font-medium">
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-error bg-neutral text-error hover:bg-error hover:text-neutral rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
</svg>
</a>
</li>
<li>
<a href="#" class="block h-8 w-8 rounded border border-error bg-neutral text-center transition-all hover:bg-error hover:text-neutral leading-8 text-error">
1
</a>
</li>
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-error hover:bg-error hover:text-neutral bg-neutral text-error rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
</svg>
</a>
</li>
</ol>
</div>

<div class="inline-flex flex-grow flex-1">
<ol class="flex justify-center gap-1 text-text-sm font-medium">
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-success bg-neutral text-success hover:bg-success hover:text-neutral rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
</svg>
</a>
</li>
<li>
<a href="#" class="block h-8 w-8 rounded border border-success bg-neutral text-center transition-all hover:bg-success hover:text-neutral leading-8 text-success">
1
</a>
</li>
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-success hover:bg-success hover:text-neutral bg-neutral text-success rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
</svg>
</a>
</li>
</ol>
</div>

<div class="inline-flex flex-grow flex-1">
<ol class="flex justify-center gap-1 text-text-sm font-medium">
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-warning bg-neutral text-warning hover:bg-warning hover:text-neutral rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
</svg>
</a>
</li>
<li>
<a href="#" class="block h-8 w-8 rounded border border-warning bg-neutral text-center transition-all hover:bg-warning hover:text-neutral leading-8 text-warning">
1
</a>
</li>
<li>
<a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border transition-all border-warning hover:bg-warning hover:text-neutral bg-neutral text-warning rtl:rotate-180">
<svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
</svg>
</a>
</li>
</ol>
</div>